<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='item-style.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>DEMO</title>
</head>


<body>
    <script>
        $(document).ready(function () {
            var ings;
            var redo = [];
            $.getJSON('/ingredients?id={{ ids }}&rm={{ rms }}', function (data) {
                ings = data.result;
                let a = '';
                for (var i = 0; i < ings.length; i++) {
                    a = a + '<div class="item">' + `<h4>${ings[i].toString()}</h4>` + '</div>';
                }
                $("#ing").html(a);
            });
            setInterval(function () {
                $.getJSON('/get_seen', function (data) {
                    seens = data.get_seen;
                    let a = '';
                    for (var i = 0; i < seens.length; i++) {
                        if (ings.includes(seens[i])) {
                            a = a + '<div class="item">' + `<h4>${seens[i].toString()}</h4>` + '</div>';
                        }
                    }
                    $("#seen").html(a);
                    let b = ''
                    for (var i = 0; i < ings.length; i++) {
                        if (seens.includes(ings[i]) == false) {
                            b = b + '<div class="item">' + `<h4>${ings[i].toString()}</h4>` + '</div>';
                        }

                    }
                    if (b == '') $("#end").html("Bạn đã mua hết");
                    $("#ing").html(b);

                });
            }, 200);
        });

    </script>
    <div class="row">
        <div class="column left">
            <section class="ingre">
                <h3 class="section-title" id='end'>Cần mua</h3>
                <div id='ing'></div>
                <!-- <div class="item">
                    <h4>name</h4>
                </div>
                <div class="item">
                    <h4>name</h4>
                </div> -->
                <h3 class="section-title">Đã mua</h3>
                <div id='seen'></div>
            </section>
        </div>
        <div class="column right">
            <section class="livestream">
                <h4 class="section-title">Theo dõi quá trình đi chợ</h4>
                <img width="95%" height="95%" src="{{ url_for('video_feed1') }}" alt="">
                <!-- <img width="100%" height="100%"
                    src="https://i.pinimg.com/originals/3b/8a/d2/3b8ad2c7b1be2caf24321c852103598a.jpg" alt=""> -->
            </section>
        </div>
    </div>
</body>

</html>