<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooky</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='item-style.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);
        }
    </style>

</head>

<body>
    <div class="intro">
        <div class="intro-text">
            <h1 class="hide">
                <span class="text">We</span>
            </h1>
            <h1 class="hide">
                <span class="text">Make Shopping</span>
            </h1>
            <h1 class="hide">
                <span class="text">Easier!</span>
            </h1>
        </div>
    </div>
    <div class="slider"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
        integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='intro.js') }}"></script>

    <section class="section search">
        <div class="search-form">
            <div class="form-control">
                <label>Hãy nhập món bạn muốn</label>
                <input type="text" id="textbox_search" autofocus />
            </div>
            <button class="btn btn-primary" id='search_btn'>Tìm Kiếm</button>
            <button class="btn btn-primary" id='add_btn'>Kiểm tra nguyên liệu</button>
            <button class="btn btn-primary" id='recipes_btn'>Món ăn</button>

        </div>
    </section>

    <div class="row">


    </div>

    <div id="myModal" class="modal">

    </div>

    <script>
        var picked_recipes = [];
        $('#textbox_search').keypress(function (e) {
            var key = e.which;
            if (key == 13) // the enter key code
            {
                $('#search_btn').click();
                return false;
            }
        });
        $("#search_btn").click(function () {
            let name = $("#textbox_search").val()
            if (name != '') {
                $.getJSON(`/recipes?name=${name}`, function (data) {
                    ings = data.result;
                    let a = '';
                    for (var i = 0; i < ings.length; i++) {
                        a = a + `<div class="col-4">
                        <img src="${ings[i]['image']}"
                            alt="">
                        <div className='cocktail-footer'>
                            <h3>${ings[i]['name']}</h3>
                            <h4>Likes: ${ings[i]['likes']}</h4>
                            <h4 class="???"><a href="/recipeDetails?id=${ings[i]['id']}" target="_blank"><button class="btn btn-details">Details</button></a><h4>
                                <label class="checkbox">
                <!-- <input type="checkbox" value="${ings[i]['id']}" name="ids"/>
                // <span>Tôi muốn nấu món này</span> -->
                <button class="add-recipe-btn" value="${ings[i]['id']}">Thêm</button>
            </label> 
                        </div>
                    </div> `
                    }
                    if (ings.length == 0) a = "Not Found!"
                    $(".row").html(a);
                    $(".add-recipe-btn").click(function () {
                        let modal = document.getElementById("myModal");
                        let name = $(this).parent().parent().prev().prev().prev().html();
                        let id = $(this).attr('value');
                        if (picked_recipes.indexOf(id) == -1) {
                            picked_recipes.push(id);
                            $("#myModal").append(`<div id='ingre-${id}'><h4>Ten mon an: ${name}</h4>
                        <button class="del-recipe-btn" value='${id}'>Xoa</button></div>`);
                            modal.style.display = "block";
                            $(".del-recipe-btn").click(function () {
                                let id = $(this).attr('value');
                                $("#ingre-" + id).remove();
                                console.log("delete" + id);

                            });
                        }
                        else {
                            alert("Món ăn này đã được thêm!");
                        }
                    });


                });
            }
        });
        $("#recipes_btn").click(function () {
            let modal = document.getElementById("myModal");
            modal.style.display = "block";

        });
        window.onclick = function (event) {
            let modal = document.getElementById("myModal");

            if (event.target == modal) {
                modal.style.display = "none";

            }
        }
        $("#add_btn").click(function () {
            if (picked_recipes.length == 0) alert("Bạn vẫn chưa chọn món nào!");
            else
                window.location.href = "/pre_demo?id=" + picked_recipes.join(',');
        });
    </script>

</body>

</html>